[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
stats-can = "*"
plotly = "*"
pandas = "*"
numpy = "*"
plotly-express = "*"
scipy = "*"
matplotlib = "*"
seaborn = "*"
pip = "*"
install = "*"
importlib-resources = "*"

[dev-packages]

[requires]
python_version = "3.10"
